name: Run flake checks
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: wimpysworld/nothing-but-nix@main
        with:
          hatchet-protocol: 'holster'
      - name: Install Nix
        uses: DeterminateSystems/determinate-nix-action@v3
      - name: Build with nix-fast-build
        run: "nix run nixpkgs#nix-fast-build -- --no-nom --skip-cached --option accept-flake-config true"
  auto-approve-pr:
    if: github.event_name == 'pull_request' && contains(fromJson('["dependabot[bot]", "voidscrubber-2148332231384339-17[bot]"]'), github.actor)
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - run: gh pr review --approve "$PR_URL"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_URL: ${{ github.event.pull_request.html_url }}
